.rmdb-movieinfo {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    padding: 20px 5px;
    box-sizing: content-box;
    animation: animateMovieinfo 4s;
}

@keyframes animateMovieinfo {
    from {
        opacity: 0;
    }
    to {
        opacity: 7;
    }
}

.rmdb-movieinfo-content {
    max-width: 1280px;
    min-height: 450px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 70px;
    position: relative;
}

.rmdb-movieinfo-thumb {
    width: 330px;
    float: right;
    transition: all 0.2s ease;
}

.rmdb-movieinfo-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color: #fff;
    overflow: hidden;
    margin-bottom: 22px;
}

.rmdb-movieinfo-text h1 {
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    margin: 0;
}

.rmdb-movieinfo-text h3 {
    font-size: 32px;
    line-height: 0;
    margin-top: 26px;
}

.rmdb-movieinfo-text p {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    line-height: 40px;
}

.rmdb-rating {
    width: 190px;
    height: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    position: absolute;
    font-weight: bolder;
}

.rmdb-score {
    float: right;
    margin-top: -25px;
    font-size: 4vw;
    font-weight: bolder;
    color: #fff;
    /* position: absolute; */
}

.rmdb-director {
    margin: 10;
    margin-top: 45px;
}

.fa-film {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
}

meter::-webkit-meter-bar {
    width: 350px;
    height: 30px;
    background: none;
    /* Required to get rid of the default background property */
    background-color: whiteSmoke;
    box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
    background: linear-gradient(to bottom, #16d47b) !important;
}

meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to bottom, #fbb450) !important;
}

meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to bottom, #ee5f5b) !important;
}

.rate {
    float: left;
    height: 70px;
    padding: 0 5px;
    margin-top: 90px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 50px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

@media screen and (max-width: 1000px) {
    .rmdb-movieinfo-text h1 {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 768px) {
    .rmdb-movieinfo {
        min-height: 600px;
        height: auto;
    }
    .rmdb-movieinfo-thumb {
        width: 100% !important;
    }
    .fa-film {
        display: none;
    }
    .rmdb-movieinfo-text h1 {
        font-size: 32px;
    }
}